Abgaben/Projekt_1/Mutation.asv
**/abstracts.synctex(busy)
Abgaben/Projekt_1/Projekt1.asv
Abgaben/Projekt_1/fminsearch2.asv
Uebungsblaetter/Uebung_5.asv
Abgaben/Projekt_2/Projekt2.asv
Abgaben/Projekt_2/InverseBFGS.asv
Abgaben/Projekt_3/Projekt_3.asv
Abgaben/Projekt_4/GlobNewton.asv
Abgaben/Projekt_4/Projekt_4.asv
Abgaben/Projekt_4/Projekt_4.asv
Abgaben/Projekt_4/ActiveSet.asv
